<div data-role="page">
        <div data-role="header">
		<h1>GoCloud Corporation - IS 6850-001 - Cloud Infrastructure & Service - Assignment_1 :)</h1>
	</div><!-- /header -->

        <div id="first">
            <p>GoCloud Corporation is your one stop Saas, PaaS, and IaaS provider. Our huge knowledge base and online tutorials brings all the information you need about cloud with a simple click. Subscribe with our premium services and we will help you plan and design your next project. We will make sure that your production is secure and up and running 24/7!</p>
            <a href="http://maps.google.com/maps?hl=en&tab=wl">Find us on the Map</a>
        </div>

        <div id="second">
            <p>Click here to see the benefits of cloud computing</p>
            <a href="http://outshineworld.com/wp-content/uploads/2013/10/clound-computing-1.jpg"=>Go </a>
        </div>

        <div id="third">
            <p>Search</p>
            <input type="text" id="UserText" />
            <input type="button" value="Click Me" onclick="javascript:ShowMessage();" />
        </div>

        <div id="forth">
            <p>Contact Us</p>
            <p>Costumer service call 1-800-888-8888</p>
        </div>

        <div id="fifth">
            <p>Privacy Policy</p>
        </div>